<section class="project-section">
  <div class="project-container">
    <div class="project">
      <img
        src="/assets/robofriends.JPG"
        alt="Photo of robofriends"
        class="img-project img-project--1"
      />
      <div class="project-description">
        <h4>Robofriends</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          labore?
        </p>
        <div class="buttons-container">
          <a
            target="_blank"
            href="https://github.com/racynibaya/robofriends"
            class="btn-project btn-source-code"
            >Source code</a
          >
          <a
            target="_blank"
            href="https://racynibaya-robofriends.netlify.app/"
            class="btn-project btn-see-live"
            >See live</a
          >
        </div>
      </div>
    </div>

    <div class="project">
      <img
        src="/assets/nextflix.JPG"
        alt="Photo of robofriends"
        class="img-project img-project--1"
      />
      <div class="project-description">
        <h4>Nextflix</h4>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          labore?
        </p>
        <div class="buttons-container">
          <a
            target="_blank"
            href="https://github.com/racynibaya/movie-application"
            class="btn-project btn-source-code"
            >Source code</a
          >
          <a
            target="_blank"
            href="https://racyn-ibaya-movie-application.netlify.app/"
            class="btn-project btn-see-live"
            >See live</a
          >
        </div>
      </div>
    </div>

    <div class="project">
      <img
        src="/assets/crwn-clothing.JPG"
        alt="Photo of robofriends"
        class="img-project img-project--1"
      />
      <div class="project-description">
        <h4>Crown-clothing</h4>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          labore?
        </p>
        <div class="buttons-container">
          <a
            target="_blank"
            href="https://github.com/racynibaya/crwn-clothing"
            class="btn-project btn-source-code"
            >Source code</a
          >
          <a
            target="_blank"
            href="https://racyn-ibaya-clothing.netlify.app/"
            class="btn-project btn-see-live"
            >See live</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
