<section class="section--about">
  <header class="section--about-header">
    <img src="assets/racyn.jpg" alt="" class="about-img" />
    <div class="my-description">
      <p>
        Hi, my name is Racyn Ibaya, I am 23 years old studying at centennial
        college
      </p>
    </div>
  </header>
  <div class="btn-container" style="text-align: center">
    <a
      style="margin-top: 2rem"
      href="assets/racynibaya.pdf"
      class="btn-project btn-source-code"
      >Resume</a
    >
  </div>
</section>
