<div class="contact-section">
  <div class="contact-container">
    <h2>Let's talk.</h2>

    <a href="mailto:racynmundina@gmail.com">Message me &rarr;</a>
  </div>

  <form action="" class="form">
    <div>
      <label for="firstname">First name:</label>
      <input type="text" name="firstname" id="firstname" />
    </div>

    <div>
      <label for="lastname">Last name:</label>
      <input type="text" name="lastname" id="lastname" />
    </div>

    <div>
      <label for="number">Contact #:</label>
      <input type="number" name="number" id="number" />
    </div>

    <div>
      <input type="submit" value="Submit" class="btn-submit" />
    </div>
  </form>
</div>
