<section class="hero-section">
  <header class="hero">
    <h1 class="hero-heading">
      <span class="main-heading">Racyn Ibaya</span
      ><span class="sub-heading">Designer and Web Developer</span>
    </h1>
    <a href="#" class="btn btn--animated hire-me">Hire me</a>
  </header>
  <img
    src="/assets/wonderingmind.svg"
    alt="guys whos wondering"
    class="wondering-guy"
  />
</section>
