<section class="services">
  <h2 class="services-heading">Services</h2>
  <div class="container">
    <div>
      <h3 class="heading-tertiary">Individual Software</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
        ipsum maiores temporibus labore atque totam esse provident modi quia
        laboriosam exercitationem nihil molestiae reiciendis libero dolor
        reprehenderit, ut tenetur laborum.
      </p>
    </div>
    <div>
      <h3 class="heading-tertiary">Individual Software</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
        ipsum maiores temporibus labore atque totam esse provident modi quia
        laboriosam exercitationem nihil molestiae reiciendis libero dolor
        reprehenderit, ut tenetur laborum.
      </p>
    </div>
    <div>
      <h3 class="heading-tertiary">Individual Software</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
        ipsum maiores temporibus labore atque totam esse provident modi quia
        laboriosam exercitationem nihil molestiae reiciendis libero dolor
        reprehenderit, ut tenetur laborum.
      </p>
    </div>
    <div>
      <h3 class="heading-tertiary">Individual Software</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
        ipsum maiores temporibus labore atque totam esse provident modi quia
        laboriosam exercitationem nihil molestiae reiciendis libero dolor
        reprehenderit, ut tenetur laborum.
      </p>
    </div>
  </div>
</section>
