<header class="main-header">
  <nav class="main-nav">
    <span class="logo-container">
      <a href="/" class="logo"><span>RM</span><span class="dot">.I</span></a>
    </span>
    <ul class="nav-links">
      <li class="nav-link about"><a href="about">About</a></li>
      <li class="nav-link projects"><a href="projects">Projects</a></li>
      <li class="nav-link hire-me"><a href="services">Services</a></li>
      <li class="nav-link"><a href="bookList">Book List</a></li>
      <li class="nav-link contact"><a href="contact">Contact</a></li>
    </ul>
  </nav>
</header>
