<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>

  <body>
    <header class="main-header">
      <nav class="main-nav">
        <span class="logo-container">
          <a href="/" class="logo"
            ><span>RM</span><span class="dot">.I</span></a
          >
        </span>
        <ul class="nav-links">
          <li class="nav-link about"><a href="about">About</a></li>
          <li class="nav-link projects"><a href="projects">Projects</a></li>
          <li class="nav-link hire-me"><a href="services">Services</a></li>
          <li class="nav-link"><a href="bookList">BookList</a></li>
          <li class="nav-link contact"><a href="contact">Contact</a></li>
          <li class="nav-link login"><a href="login">Log in</a></li>
        </ul>
      </nav>
    </header>

    <main><%- include('./partials/' + page + '.ejs') %></main>

    <footer class="footer"><%- include('./components/footer.ejs') %></footer>

    <% include ('./components/bootsrap.ejs') %>
  </body>
</html>
