<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>

  <body>
    <header class="main-header"><%- include('header.ejs') %></header>

    <main><%- include('./partials/' + page + '.ejs') %></main>

    <footer class="footer"><%- include('./components/footer.ejs') %></footer>

    <% include ('./components/bootsrap.ejs') %>
  </body>
</html>
