/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #164e63;
  --primary-color-tint: #457182;
  --grey-color: #cbd5e1;

  --secondary-color: #f87171;
  --secondary-color-tint: #fee2e2;

  --bg-color: #f3f4f6;
}

html {
  font: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.7;
  letter-spacing: 0.5px;
  background-color: var(--bg-color);

  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.6rem;
}

/* HEADING */

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem;
}

.logo-container {
  align-self: center;
  padding: 0.8rem 1.2rem;
  font-size: 2.4rem;
  color: var(--primary-color);
  font-weight: 700;
}

.logo:link,
.logo:visited {
  text-decoration: none;
  color: var(--primary-color);
}

.logo .dot,
.logo .dot {
  color: var(--secondary-color);
}

.nav-links {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a:link,
.nav-links li a:visited {
  font-size: 1.4rem;
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.2s;
}

.nav-links li a:hover,
.nav-links li a:active {
  color: var(--secondary-color);
}

/* HERO Section */
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;

  background-color: var(--bg-color);
}

.hero-heading {
  margin-bottom: 2rem;
}

.hero {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--main-color);
}

.main-heading,
.sub-heading {
  display: block;
  color: var(--primary-color);
  backface-visibility: hidden;
}

.main-heading {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -2px;
  width: 100%;
  line-height: 1;
  animation: moveInLeft 1s ease-out;
}

.sub-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.17rem;
  animation: moveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--secondary-color-tint);
  padding: 0.2rem 1.6rem;
  backface-visibility: hidden;
  border-radius: 100px;
  display: inline-block;

  position: relative;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.7s ease-out 0.2s backwards;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  z-index: -1;
  transition: all 0.1s;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.wondering-guy {
  width: 20rem;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.skills-container {
  padding: 0.8rem;
  background-color: var(--primary-color-tint);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.4rem;
}

.skills-text {
  color: var(--grey-color);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8;
}

.fa-brands {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 2.4rem;
  width: 2.4rem;
  color: rgb(189, 188, 188);

  padding: 0.5rem;

  transition: all 0.2s ease;
}

.fa-brands:hover {
  transform: translateY(-3px);
}

.fa-html5:hover {
  color: #e34c26;
}

.fa-css3-alt:hover {
  color: #264de4;
}

.fa-square-js:hover {
  color: #f0db4f;
}

.fa-react:hover {
  color: #2195b3;
}

.section {
  display: flex;
}

.projects-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}

/* MAIN */
main {
  padding: 0 5rem;
}
/* ABOUT */
.section--about {
  max-width: 120rem;
  padding: 3.2rem;
}
.section--about-header {
  display: flex;
}

.about-img {
  border-top-left-radius: 15px;
  width: 15rem;
}

.my-description {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--secondary-color-tint);
  padding: 4rem;
  border-top-right-radius: 15px;
}

/* PROJECTS */
.project-section {
  padding: 1.2rem;
}

.project {
  border-radius: 10px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.1);
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  padding-top: 4rem;
}

.project-description {
  padding: 0.8rem 1.5rem 1.8rem 1.5rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-description p {
  font-size: 1.2rem;
}

.buttons-container {
  display: flex;
  gap: 2rem;
}

.btn-see-live {
  background-color: var(--secondary-color);
  color: var(--secondary-color-tint) !important;
}

.btn-project:link,
.btn-project:visited {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset 0 0 0 1px var(--secondary-color);
  font-size: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
  line-height: 1.2;
  transition: all 0.2s;
}

.btn-project:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.btn-project:active {
  transform: translateY(3px);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.img-project {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(#000, #000);
  position: relative;
  width: 100%;
}

/* Services */

.services .container {
  max-width: 120rem;
  line-height: 1.2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.container div {
  padding: 1.2rem 1.6rem;
}

.container div p {
  font-size: 1.2rem;
}

.services-heading {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.6;
}

.heading-tertiary {
  margin-bottom: 1.2rem;
}

.contact-section {
  display: grid;
  grid-template-columns: 40fr 60fr;

  align-items: center;
  justify-items: center;
}

.contact-container a:link,
.contact-container a:visited {
  color: var(--secondary-color);
  padding-bottom: 0.2rem;
  border-bottom: 2px solid currentColor;
  text-decoration: none;
  transition: all 0.2s;
}

.contact-container a:hover,
.contact-container a:active {
  border-bottom: 2px solid transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form div:last-child {
  align-self: center;
}

.form div label {
  display: inline-block;
  width: 10rem;
}

.form div input {
  width: 15rem;
  padding: 0.5rem;
}

.form div .btn-submit {
  display: inline-block;
  cursor: pointer;
  width: 10rem;
  color: var(--secondary-color);
  border: 1px solid currentColor;
  padding: 0.6rem 2rem;
  border-radius: 100px;
  transition: all 0.3s;
}

.form div .btn-submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.form div .btn-submit:active {
  transform: translateY(0);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

input[type='text'],
input[type='number'],
input[type='submit'] {
  outline: none;
}

:focus {
  outline: none;
}

/* FOOTER */
.footer {
  font-size: 1rem;

  padding: 0.4rem 3rem;
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: var(--secondary-color-tint);
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  80% {
    transform: translateX(-10px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
