<%- include('../components/head.ejs')%>
<main class="container">
  <!--message Area-->
  <% if (messages.length > 0){%>
  <div class="alert alert-danger"><%=messages%></div>
  <%}%>
  <div class="login-row">
    <div class="offset md-4 col-md-4">
      <h1 class="login-heading">Please login</h1>
      <form method="POST" autocomplete="off" class="form form-login">
        <fieldset class="form-group">
          <label for="username">username:</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Enter username"
            id="username"
            required
            autofocus
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter password"
            id="password"
            required
          />
        </fieldset>

        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Login" />
          <a href="/">
            <input type="button" class="btn btn-warning" value="cancel" />
          </a>
          <a href="/register" class="register">Register Here</a>
        </fieldset>
      </form>
    </div>
  </div>
</main>
